@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');
/*clases master page*/
.body {
    background-color: var(--color-body);
    position: relative;
    min-height: 100vh;
    padding-bottom: 20em;
    margin: 0;
    
    
    
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*variables de colores que vamos a usar en la pagina */
:root {
    --color-azul-verde-oscuro: #1C6882;
    --color-azul-detalles: #2A99D9;
    --color-body: #F2F2F2;
    --color-azul-efectos: #86B7DA;
}

/*clases pagina home (sidebar) tema oscuro*/
.nav-pills li a:hover {
    background-color: var(--color-azul-verde-oscuro);
}

/* pantallas mas chicas - falta un ajustecito*/
@media (max-width: 1204px) {
    .footer {
        position: relative;
        border-top: 10px solid #fff; /* agrega un borde superior */
        /*  padding-top: 20px;  /*agrega espacio adicional arriba del footer */
    }
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        border-top: 10px solid #fff; /* agrega un borde superior */
        padding-top: 20px; /*  agrega espacio adicional arriba del footer */
    }
    
}

@media (max-height: 600px) {
    .footer {
        position: relative;
        border-bottom: 2px solid #fff; /* agrega un borde inferior */
        padding-bottom: 20px; /*agrega espacio adicional abajo del footer */
    }
}
@media (max-height: 500px) {
    .footer {
        position: relative;
        border-bottom: 2px solid #fff; /* agrega un borde inferior */
        padding-bottom: 20px; /* agrega espacio adicional abajo del footer */
    }
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.form-control {
    flex: 2;
}
.radio-list label {
    margin-right: 10px; /* Puedes ajustar el valor de margen según tu preferencia */
}
#filtrosAvanzados {
    border-top: 1px solid #ccc; /* Color y estilo del borde pueden personalizarse */
    margin-top: 20px; /* Agregar un espacio en la parte superior del borde */
    padding-top: 20px; /* Agregar espacio adicional por encima del contenido de la sección */
}

/* Estilo personalizado para el switch */
.form-check.form-switch {
    display: flex;
    align-items: center;
    margin-left:500px;/* Ajusta el margen izquierdo según tus preferencias */
}

/*-------------------------------------PAGINA ALTA USUARIO-------------------------------------------------------------------*/
.form_top {
    padding-top:60px; 
}
.lbl {
    width: 200px;
    font-size:20px;
}
.btn_tamaño{
    font-size:20px;  
}

/*-------------------------------------PAGINA USUARIO-------------------------------------------------------------------*/





