@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');
/*clases master page*/
.body {
    background-color: var(--color-body);
    position: relative;
    min-height: 100vh;
/*    padding-bottom: 20em;
    margin: 0;*/
    
    
    
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    
}


/*variables de colores que vamos a usar en la pagina */
:root {
    --color-azul-verde-oscuro: #1C6882;
    --color-azul-detalles: #2A99D9;
    --color-body: #F2F2F2;
    --color-azul-efectos: #86B7DA;
}

/*clases pagina home (sidebar) tema oscuro*/

.nav-pills li a:hover {
    background-color: var(--color-azul-verde-oscuro);
}





/* pantallas mas chicas */


@media (max-width: 767px) {
    .footer {
        position: relative;
         
    }
}


